<div class="">
  <%= simple_form_for [@list, @bookmark], html:{class:"row row-cols-lg-auto g-3 align-items-center mt-4 ms-2"} do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
</div>
